.lc-header {
    .lc-head-promo {
        background-color: #fff;
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.125rem;
            color: $lc-rojo;
            font-weight: lighter !important;
        }
    }
    nav {
        background-color: $lc-background;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
        padding: 0 !important;
        transition: all 0.4ms ease-in-out;
        .navbar-toggler {
            background-color: transparent;
            button, button:active {
                outline: none !important;
                box-shadow: none;
            }
            .lc-hamburguer {
                display: inline-block;
                position: relative;
                height: 0.125rem;
                width: 2.125rem;
                border-radius: 0.0625px;
                background: $lc-rojo;
                vertical-align: middle;
                &::before, &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    height: 0.125rem;
                    border-radius: 0.0625px;
                    background: $lc-rojo;
                    transition: all 200ms;
                    width: 2.125rem;
                }
                &::before {
                    top: -11px;
                    left: 0px;
                }
                &::after {
                    top: 11px;
                    left: 0px;
                }
            }
            .lc-hamburguer-active {
                height: 0 !important;
                &::after, &::before {
                    top: 0px !important;
                }
                &::after {
                    transform: rotate(-45deg);
                }
                &::before {
                    transform: rotate(45deg);
                }
            }
        }
        ul {
            li {
                a {
                    text-decoration: none;
                    font-size: 24px;
                    color: $lc-rojo;
                    font-weight: bold;
                    padding: 0 1rem !important;
                }
            }
        }
    }
}
header {
    background-image: url('/img/background-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    transition: all 0.4ms ease-in-out;
    .lc-height {
        height: 100vh;
        h1 {
            font-size: 4.25rem;
            color: #008F39;
            padding-top: 5rem;
            font-family: DreamLand;
            .raul {
                color: #FF0000;
            }
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.125rem;
            padding-right: 1.75rem;
        }
        .lc-haz-tu-pedido {
            position: relative;
            text-align: right;
            color: $lc-rojo;
            top: 5rem;
            p {
                font-family: DreamLand;
                font-size: 2.1875rem;
                padding-right: 0;
            }
            .arrow {
                position: absolute;
                left: 77%;
                width: 2.5rem;
                height: 2.5rem;
                top: 110%;
                margin: -1.25rem 0 0 -1.25rem;
                transform: rotate(45deg);
                border-left: none;
                border-top: none;
                border-right: 2px $lc-rojo solid;
                border-bottom: 2px $lc-rojo solid;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    left: 35%;
                    width: 2.5rem;
                    height: 2.5rem;
                    top: 35%;
                    margin: -1.25rem 0 0 -1.25rem;
                    border-left: none;
                    border-top: none;
                    border-right: 2px $lc-rojo solid;
                    border-bottom: 2px $lc-rojo solid;
                }
            }
        }
    }
}