@media screen and (max-width:767px) {
    header {
        background-size: 110vw 110vh;
        .lc-height {
            height: 100vh;
            h1 {
                font-size: 3rem;
                color: $lc-rojo;
                padding-top: 10rem;
                font-family: DreamLand;
            }
            p {
                font-size: 1rem;
            }
            .lc-haz-tu-pedido {
                text-align: center;
                top: 2rem;
                p {
                    font-size: 2rem;
                }
                .arrow {
                    left: 47%;
                }
            }
        }
    }
    .lc-gallery {
        height: 89vh;
        .lc-carousel-big-gallery {
            padding: 0;
            .carousel-control-prev,
            .carousel-control-next {
                top: 50%;
            }
            .carousel-control-prev {
                .carousel-control-prev-icon {
                    background: url('/img/left.svg');
                }
            }
            .carousel-control-next {
                .carousel-control-next-icon {
                    background: url('/img/right.svg');
                }
            }
        }
    }
    .lc-contacto {
        .lc-map {
            padding-right: 15px;
            padding-bottom: 15px;
        }
        .lc-contact-info {
            position: inherit;
            right: 0;
            top: 0;
            padding-left: 15px;
            .lc-contact-card {
                width: 100%;
                .lc-contact-card-body {
                    padding-left: 1rem;
                }
            }
        }
    }
    .lc-pedido {
        .lc-title {
            padding-top: 1rem;
        }
        .lc-pedido-row-2 {
            padding: 3rem 1.25rem;
            .col-sm-12 {
                padding-bottom: 1.5rem;
            }
        }
        .lc-cuota-servicio-row {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            p {
                font-size: 1.3rem;
            }
        }
    }
    .lc-footer {
        p {
            padding: 0.25rem 0 0.5rem 0;
        }
    }
}

@media screen and (max-width:575px) {
    header {
        background-size: cover;
        .lc-height {
            .lc-haz-tu-pedido {
                p {
                    font-size: 1.5rem;
                }
                .arrow {
                    width: 2rem;
                    height: 2rem;
                    top: 130%;
                    &::before {
                        left: 45%;
                        top: 45%;
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }
    .menu {
        padding: 100px 0;
        background-color: white;
        width: 100%;
        .arrow {
            width: 40px;
            height: 40px;
            margin: -20px 0 0 -20px;
            transform: rotate(45deg);
            border-left: none;
            border-top: none;
            border-right: 2px $lc-rojo solid;
            border-bottom: 2px $lc-rojo solid;
        }
        .lc-tacos {
            .lc-tacos-row {
                .lc-col-card {
                    width: 50%;
                    .lc-card {
                        border-radius: 1.5rem 1.5rem 1.25rem 1.25rem;
                        .lc-card-body {
                            p {
                                font-size: 0.6rem;
                            }
                            .price {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }
        .lc-lonches {
            .lc-lonches-row {
                .lc-card {
                    border-radius: 1.5rem 1.5rem 1.25rem 1.25rem;
                    img {
                        border-radius: 0.75rem;
                    }
                    .lc-col-1 {
                        padding-bottom: 0 !important;
                        .lc-card-body-1 {
                            padding-bottom: 0;
                        }
                    }
                    .lc-col-2 {
                        padding-top: 0 !important;
                        .lc-card-body-2 {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
        .lc-gringas {
            .lc-gringas-row {
                .lc-card {
                    border-radius: 1.5rem 1.5rem 1.25rem 1.25rem;
                    .lc-col-1 {
                        padding-bottom: 0!important;
                        .lc-card-body-1 {
                            padding-bottom: 0;
                        }
                    }
                    .lc-col-2 {
                        padding-top: 0 !important;
                        .lc-card-body-2 {
                            padding-top: 0;
                            .d-flex:nth-child(2) {
                                .dotted {
                                    width: 35%;
                                }
                            }
                            .d-flex:nth-child(5) {
                                .dotted {
                                    width: 35%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lc-ordenes {
            .lc-ordenes-row {
                .lc-card {
                    border-radius: 1.5rem 1.5rem 1.25rem 1.25rem;
                    h3 {
                        font-size: 1.25rem;
                    }
                    .lc-col-1 {
                        padding-bottom: 0 !important;
                        .lc-card-body-1 {
                            padding-bottom: 0;
                        }
                        .lc-card-body-2 {
                            padding-top: 1.25rem;
                            padding-bottom: 0;
                        }
                    }
                    .lc-col-2 {
                        padding-top: 0 !important;
                        .lc-card-body-3 {
                            padding-top: 1.25rem;
                            padding-bottom: 0;
                        }
                        .lc-card-body-4 {
                            padding-top: 1.25rem;
                            padding-bottom: 0;
                        }
                        .lc-card-body-5 {
                            padding-top: 1.25rem;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        .lc-bebidas {
            .lc-bebidas-row {
                .lc-col-card {
                    width: 50%;
                    .lc-card {
                        border-radius: 1.5rem 1.5rem 1.25rem 1.25rem;
                        .lc-card-body {
                            p {
                                font-size: 0.6rem;
                            }
                            .price {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }
        .lc-postres {
            .lc-postres-row {
                .lc-col-card {
                    width: 50%;
                    .lc-card {
                        border-radius: 1.5rem 1.5rem 1.25rem 1.25rem;
                        .lc-card-body {
                            p {
                                font-size: 0.6rem;
                            }
                            .price {
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}